<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-blog">Create new customer</a>
<h1>Customers</h1>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date of writing</th>
    </tr>
    <th:block th:each="blog : ${blogList}">
        <tr>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.author}"></td>
            <td th:text="${blog.dateOfWriting}"></td>
            <td><a th:href="@{/{id}/update(id=${blog.getId()})}">update</a></td>
            <td><a th:href="@{/{id}/remove(id=${blog.getId()})}">remove</a></td>
        </tr>
    </th:block>

</table>
</body>
</html>